<!-- {% from "./_formhelpers.html" import render_field %} -->

{% extends "base.html" %}
{% block title %}Projects{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/DataTables/datatables.min.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/Editor-1.7.2/css/editor.bootstrap4.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/DataTables/Select-1.2.5/css/select.bootstrap4.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/DataTables/Buttons-1.5.1/css/buttons.bootstrap4.min.css') }}">
    {% block upload_css %}{% endblock %}
{% endblock %}


{% block js %}
  <script>
    var columns = JSON.parse('{{columns | tojson | safe}}');  //column string uses double quotes, so wrap it with single quotes 
    var columnDefs = JSON.parse('{{columnDefs | tojson | safe}}');
    var fields = JSON.parse('{{fields | tojson | safe}}');    
    var category_filter = "{{category_filter}}";

    for(f=0;f<fields.length;f++){
      if(fields[f]['name'] == 'category'){
        for(s=0;s<fields[f]['options'].length;s++){
          if(fields[f]['options'][s]['label'] == category_filter){
            category_filter = fields[f]['options'][s]['value'];
          }
        }
      }
    }

  </script>
  
  <script src="{{ url_for('static', filename='lib/socket.io.js') }}"></script>  
  <script type="text/javascript" src="{{ url_for('static', filename='lib/DataTables/datatables.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/DataTables/DataTables-1.10.16/js/dataTables.bootstrap4.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/DataTables/Select-1.2.5/js/dataTables.select.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/DataTables/Buttons-1.5.1/js/dataTables.buttons.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/DataTables/Buttons-1.5.1/js/buttons.bootstrap4.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/Editor-1.7.2/js/dataTables.editor.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/Editor-1.7.2/js/editor.bootstrap4.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/dt_selectize.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/moment.js') }}"></script>
  {% block upload_js %}{% endblock %}
{% endblock %}


{% block body %}
<div class="row nav-spacer">
  </div>
  {% block upload_dragdrop %}{% endblock %}

  {% if category_filter != 'upload' %}
    {% include "./home/toolbar.html" %}
  {% endif %}
  <table id={{namespace}} class="compact table-striped table-bordered table-hover" cellspacing="0" width="100%">
  </table>

{% endblock %}

{% block run_scripts %}
<script>
  {% block dz_js %}{% endblock %}
  var editor;
  var table;
  var socket;
  var select;
  var category;
  var output;
  var columns;
  var fields;
  var category_filter;

  $(document).ready(function() {
    namespace = "{{namespace}}";
    socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);
    initDT();


  });    


</script>
{% endblock %}

