<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ title }} | MCD Database</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='lib/bootstrap-4.0.0-beta.3/dist/css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='lib/font-awesome-4.7.0/css/font-awesome.min.css') }}">
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='img/favicon.ico') }}" rel="shortcut icon" >
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/DataTables/datatables.min.css') }}"/>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/Editor-1.7.2/css/editor.bootstrap4.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/DataTables/Select-1.2.5/css/select.bootstrap4.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/DataTables/Buttons-1.5.1/css/buttons.bootstrap4.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/dropzone/dropzone.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/selectize/css/selectize-bootstrap4.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/selectize/css/selectize.css') }}">

  <script src="https://code.jquery.com/jquery-1.12.4.js" type="text/javascript"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  <script>
    var columns = JSON.parse('{{columns | tojson | safe}}');  //column string uses double quotes, so wrap it with single quotes
    var columnDefs = JSON.parse('{{columnDefs | tojson | safe}}');
    var fields = JSON.parse('{{fields | tojson | safe}}');
    var category_filter = "{{category_filter}}";
    var page = "{{page}}";

  </script>
  <script src="{{ url_for('static', filename='lib/socket.io.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/DataTables/datatables.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/DataTables/DataTables-1.10.16/js/dataTables.bootstrap4.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/DataTables/Select-1.2.5/js/dataTables.select.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/DataTables/Buttons-1.5.1/js/dataTables.buttons.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/DataTables/Buttons-1.5.1/js/buttons.bootstrap4.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/Editor-1.7.2/js/dataTables.editor.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/Editor-1.7.2/js/editor.bootstrap4.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/dt_selectize.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/moment.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/socket.io.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/dropzone/dropzone.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/selectize/js/standalone/selectize.js') }}"></script>
  <script>
    Dropzone.autoDiscover = false;
  </script>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
    <a href="{{ url_for('home.media',category_filter='addons') }}" class="navbar-brand">MCD DB</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mcd_db_navbar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>    
    <div class="collapse navbar-collapse row" id="mcd_db_navbar">
      <ul class="nav nav-pills navbar-nav">
        {% if current_user.is_authenticated %}
        <li class="nav-item active" namespace="project"><a class="nav-link" data-toggle="pill" filter_value="1" href="{{ url_for('home.media',category_filter='addons') }}">Addons</a></li>
        <li class="nav-item active"><a class="nav-link" data-toggle="pill" filter_value="2" href="{{ url_for('home.media',category_filter='effects') }}">Effects</a></li>
        <li class="nav-item active"><a class="nav-link" data-toggle="pill" filter_value="3" href="{{ url_for('home.media',category_filter='fonts') }}">Fonts</a></li>
        <li class="nav-item active"><a class="nav-link" data-toggle="pill" filter_value="4" href="{{ url_for('home.media',category_filter='images') }}">Images</a></li>
        <li class="nav-item active"><a class="nav-link" data-toggle="pill" filter_value="5" href="{{ url_for('home.media',category_filter='music') }}">Music</a></li>
        <li class="nav-item active"><a class="nav-link" data-toggle="pill" filter_value="6" href="{{ url_for('home.media',category_filter='sfx') }}">SFX</a></li>
        <li class="nav-item active"><a class="nav-link" data-toggle="pill" filter_value="7" href="{{ url_for('home.media',category_filter='software') }}">Software</a></li>
        <li class="nav-item active"><a class="nav-link" data-toggle="pill" filter_value="8" href="{{ url_for('home.media',category_filter='videos') }}">Videos</a></li>
        <li class="nav-item active"><a class="nav-link" data-toggle="pill" filter_value="0" href="{{ url_for('home.media',category_filter='upload') }}"><i class="fa fa-upload"></i> Upload</a></li>
      </ul>
      <ul class="nav nav-pills navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Other</a>
          <div class="dropdown-menu" aria-labelledby="dropdown01">
            <a class="dropdown-item" href="{{ url_for('home.category') }}">Category</a>
            <a class="dropdown-item" href="{{ url_for('home.logs') }}">Logs</a>
            <a class="dropdown-item" href="{{ url_for('home.user') }}">User</a>            
          </div>
        </li>
        <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.logout') }}">Logout</a></li>
        <li class="nav-item"><a class="nav-link"> <i class="fa fa-user" aria-hidden="true" style="color: #992222" user-id="{{current_user.id}}"></i>    {{ current_user.name }}!</a></li>
        {% else %}
        <li class="nav-item"><a class="nav-link" href="{{ url_for('home.homepage') }}">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.register') }}">Register</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.login') }}">Login</a></li>
        {% endif %}
      </ul>
    </div>
  </nav>

  <div class="row nav-spacer"></div>

  <div class="container dz_container">
    <div class="row">
      <div class="col-sm-12">
        <div class="dropzone" id="media_drop"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-1">
        <div class="btn-toolbar" id="dz-toolbar">
          <div class="btn-group">
            <button class="btn dz_add" ><i class="fa fa-upload"></i></button>
            <button class="btn dz_clear" ><i class="fa fa-trash-o"></i></button>
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="category_menu dropdown">
          <button id="select_category" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" value="1">Fonts</button>
          <div class="dropdown-menu" aria-labelledby="select_category" id="select_category_dropdown">
            {% if ff %}
              {% for d in ff[1].options %}
                <a class="dropdown-item" href="javascript:void(0);" value="{{d.value}}">{{d.label}}</a>
              {% endfor %}
            {% endif %}
          </div>
        </div>
      </div>
      <div class="col-lg-9">
        <div class="add-tags">
          <input type="text" id="input-tags" class="" value="" placeholder="input tag here!">
        </div>
      </div>
    </div>
  </div>
  </div>


  {% include "./home/toolbar.html" %}

  <table id={{namespace}} class="compact table-striped table-bordered table-hover" cellspacing="0" width="100%">
  </table>

  <footer class="container">
    <!-- <input type='text' class='input-page' placeholder='頁' aria-label='Page'> </input> -->
  </footer>
  <script>
    var thumbs =[];
    var myDropzone = new Dropzone("#media_drop", {
      url: "../upload",
      addRemoveLinks: true,
      parallelUploads: 4,
      uploadMultiple: true,
      maxFilesize: 100000, //10GB
      autoProcessQueue: false,
      thumbnailWidth: 120,
      timeout: 3600000 //60mins
    });

    function dz_clear(){
      var acceptedFiles = myDropzone.getAcceptedFiles();
      for(i=0; i < acceptedFiles.length; i++){
        myDropzone.removeFile(acceptedFiles[i]);
      };
    }

    function getCookie(cname) {
      var name = cname + "=";
      var ca = document.cookie.split(';');
      for(var i = 0; i < ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0) == ' ') {
          c = c.substring(1);
        }
        if (c.indexOf(name) == 0) {
          return c.substring(name.length, c.length);
        }
      }
      return "";
    }    

    myDropzone.on("addedfile", function(file) {
      image_ext = ["jpg", "jpeg", "bmp", "tif", "tiff", "tga", "png", "psd", "gif", "svg", "ai", "eps"];
      video_ext = ["mp4", "avi", "wmv", "mov", "qt", "mkv", "ts", "webm", "flv", "rmvb"];
      audio_ext = ["mp3", "wmv", "pcm", "aiff", "aac", "ogg", "wma", "flac", "alac", "wav"];
      font_ext = ["ttf", "otf", "eot", "woff", "svg", "woff2"];
      file_ext = ["exe", "zip", "rar"];
      code_ext = ["js", "jsx", "py", "cpp", "html", "css", "jsx", "xml", "json", "csv", "bat", "sh"]

      ext = file.name.split('.').pop().toLowerCase();
      if(image_ext.indexOf(ext) > -1){
        $("#select_category").text("images");
        $("#select_category").attr("value", 4);
      } else if(audio_ext.indexOf(ext) > -1){
        $("#select_category").text("sfx");
        $("#select_category").attr("value", 6);
      } else if(video_ext.indexOf(ext) > -1){
        $("#select_category").text("videos");
        $("#select_category").attr("value", 8);
      } else if(file_ext.indexOf(ext) > -1){
        $("#select_category").text("software");
        $("#select_category").attr("value", 7);
      } else if(font_ext.indexOf(ext) > -1){
        $("#select_category").text("fonts");
        $("#select_category").attr("value", 3);
      } else {
        $("#select_category").text("software");
        $("#select_category").attr("value", 7);
      }
    });

    function sleep(ms) {
      return new Promise(resolve => setTimeout(resolve, ms));
    }

    myDropzone.on("thumbnail", function(file, dataUri) {
      t = {'name': file.name, 'thumb': dataUri}
      thumbs.push(t);
    });

    myDropzone.on("complete", async function(file) {
      await sleep(1500);
      myDropzone.removeFile(file);
    });    

    $( ".dz_add" ).bind({
      click: function() {
        category = parseInt($('#select_category').val());
        user_id = parseInt($('i.fa-user').attr('user-id'));

        tags = selectize.items.join(",");
        acceptedFiles = myDropzone.getAcceptedFiles();
        itemlist = [];
        for(i=0;i<acceptedFiles.length;i++){
          name = acceptedFiles[i]['name'];
          ext = name.split('.').pop()
          data = {"name": name, "category": category, "tags": tags, "assigned": user_id, "thumbnail": ""};
          itemlist.push(data);
        }
        dz_data = {'namespace': 'media', 'data': itemlist, 'thumbs': thumbs, 'multiple': 'true'};
        socket.emit('create', dz_data);
      }
    });

    $( ".dz_clear" ).bind({
      click: function() {
        dz_clear();
        selectize.clear();
      }
    });

    $select = $('#input-tags').selectize({
      persist: false,
      createOnBlur: true,
      create: true
    });

    selectize = $select[0].selectize;
    //________________________________________________

    category_render =  function ( data, meta, row ) {
      return data.label;
    };
    generic_render = function (data, meta, row) {
      var id = ("00000000" + row['id']).substr(-8,8);
      var url = "http://" + window.location.host + "/download?category=" + row['category']['label'] + "&file_id=" + id + "&filename=" + row['name'];
      return '<a href="' + url +'" download><i class="fa fa-file fa-2xx" aria-hidden="true"></i></a>';
    }

    thumb_render = function ( data, meta, row ) {
      var id = ("00000000" + row['id']).substr(-8,8);
      var url = "http://" + window.location.host + "/download?category=" + row['category']['label'] + "&file_id=" + id + "&filename=" + row['name'];
      var thumb_url = "http://" + window.location.host + "/download?category=" + row['category']['label'] + "&file_id=" + id + "&filename=" + "/thumb.jpg";
      return '<a href="' + url +'" download><img class="thumbnail" src="'+thumb_url+'"/><span><img data-src="' + url + '"/><br /></span></a>'
    };
    sound_render = function (data, meta, row){
      var id = ("00000000" + row['id']).substr(-8,8);
      var url = "http://" + window.location.host + "/download?category=" + row['category']['label'] + "&file_id=" + id + "&filename=" + row['name'];
      return "<audio controls loop><source src='" + url + "'></audio>";
    };
    video_render = function (data, meta, row) {
      var id = ("00000000" + row['id']).substr(-8,8);
      var url = "http://" + window.location.host + "/download?category=" + row['category']['label'] + "&file_id=" + id + "&filename=" + row['name'] + "#t=10";
      return "<video preload='metadata' src=" + url + " controls loop></video>"
    };
    font_render = function (data, meta, row) {
      var id = ("00000000" + row['id']).substr(-8,8);
      var url = "http://" + window.location.host + "/download?category=" + row['category']['label'] + "&file_id=" + id + "&filename=" + row['name'];
      return "<a href=" + url + " download><div class='font-preview-sm' style='font-family: &quot;" + id + "&quot;'>Aa<span><div class='font-preview' style='font-family: &quot;" + id + "&quot;'>烏飛白頭竄帝子　馬挾紅粉啼宮娥<br/>The quick brown fox jumped over the lazy dog</div><br /></span></div></a>"
    };
    datetime_render = function (data, meta, row) {
      m = moment.utc(data);
      return "<div>" + m.utc().format("MM/DD/YY HH:mm:ss") + "</div>"
    }
    tags_render = function (data, meta, row) {
      var container = $('<div />');
      tags = data.split(",")
      for(i=0;i<tags.length;i++){
        container.append('<span class="badge badge-secondary search-tag sm-badge">' + tags[i] + '</span>');
      }      
      return "<div class=>" + container.html() + "</div>"
    }

    function initDT(namespace, columns, columnDefs, fields, category_filter){
      //length = parseInt($(".page-len").attr('value'));
      length = parseInt(getCookie('length'));
      if(!Number.isInteger(length)){
        length = 10;
      }
      table = $('#' + namespace).DataTable( {
          "dom": "<'row'<'col-sm-8 top-toolbar'><'col-sm-4'p>>" + "<'row'<'col-sm-12'tr>>" + "<'row'<'col-sm-4'i><'col-sm-8'p>>",
          "pageLength": length,
          "processing": true,
          "serverSide": true,
          "deferRender": true,
          "ajax": function (data, callback, settings) {
                    socket.emit('ajax_socket', {'namespace': namespace, 'settings':data, 'columns': columns, 'fields': fields, 'columnDefs': columnDefs, 'category_filter': category_filter});
                      socket.on('init_response', function(response){
                        output = JSON.parse(response);
                        if(category_filter == 3){
                          var head = document.head || document.getElementsByTagName('head')[0]                          
                          if($('style').length == 0){
                            var newStyle = document.createElement('style');  
                            head.appendChild(newStyle);  
                          } else {
                            newStyle = $('style');
                          }
                          var sheets = document.styleSheets;                          
                          var sheet = sheets[sheets.length -1];
                          var existing_ids = [];
                          for(h=0;h<sheet.rules.length;h++){
                            var existing_id = parseInt(sheet.rules[h].style.fontFamily.replace(/['"]+/g, ''))
                            existing_ids.push(existing_id);
                          }
                          for(i=0;i<output['data'].length;i++){
                            var new_id = parseInt(output['data'][i]['id']);
                            if(existing_ids.indexOf(new_id) > -1){
                            } else {
                              var id = ("00000000" + output['data'][i]['id']).substr(-8,8);
                              var font_url = "http://" + window.location.host + "/download?category=fonts&file_id=" + id + "&filename=" + output['data'][i]['name'];                            
                              var font_face = "@font-face {font-family: '" + id + "'; src: url('" + font_url  + "') format('truetype');}"
                              newStyle.append(document.createTextNode(font_face));                              
                            }

                          }
                        }
                        callback(output);
                      })
                  },
          "rowId": 'id',
          "columns": columns,
          "columnDefs": columnDefs,
          "order": [[ 2, "desc" ]],
          "select": {
              "style": 'os',
              "selector": 'td:first-child'
          }
      });
      editor = new $.fn.dataTable.Editor( {
          data: output,
          ajax: function ( method, url, d, successCallback, errorCallback ) {
            var output = { data: [] };
            for(var k in d.data); //get the id

            if ( d.action === 'create' ) {
              socket.emit('create', {'namespace': namespace, 'data': d.data[k], 'multiple': 'false'});
            }
            else if ( d.action === 'edit' ) {
              socket.emit('update', {'namespace': namespace, 'id': k, 'data':d.data[k]});
            }
            else if ( d.action === 'remove' ) {
              var k = [];
              $.each( d.data, function (id) {
                k.push(id);
              } );
              socket.emit('remove', {'namespace': namespace, 'ids': k});
            }
            successCallback(output);
          },
          table: '#' + namespace,
          idSrc:  'id',
          fields: fields
      } );
      $('#' + namespace).on( 'click', 'tbody td:not(:first-child)', function (e) {
        var category = $(this).text();

        editor.inline( this, {
          drawType: 'page',
          onBlur: 'submit',
          onReturn: 'submit',
          submit: 'changed'
        } );

        $("div.DTE_Field_InputControl select option:contains('" + category + "')").attr("selected", "selected");
        $("div.DTE_Field_InputControl select option:contains('" + category + "')").prop("selected", "selected");
      } );

    }

    function socketConnect(){
      socket.on('add_response', function(msg) {
        data = JSON.parse(msg["data"]);
        stuff = [];
        for(i=0;i<myDropzone.files.length;i++){
          for(j=0;j<data.length;j++){
            d = JSON.parse(data[j]);
            file_name = d['name'];

            if(myDropzone.files[i].name == file_name){
              stuff.push(d);
              category = d['category']['label'];
              file_id = d['id'];              
              myDropzone.options.url = "../upload?category=" + category + "&file_id=" + file_id;              
              myDropzone.processFile(myDropzone.files[i]);
            }
          }
        }
        table.rows.add(stuff).draw();
/*        myDropzone.processQueue();        
        queuedFiles = myDropzone.getQueuedFiles();
        while (queuedFiles.length>0){
          i=0;
          while (i < 3) {
            if (!queuedFiles.length) {
              return;
            }
            myDropzone.processFile(queuedFiles.shift());
            i++;
          }
        } */       
      })

      socket.on('update_response', function(msg) {
        d = JSON.parse(msg.data);
        table.row.add(d).draw('page');
      })

      socket.on('delete_response', function(msg) {
        data = JSON.parse(msg['ids']);
        for(i=0;i<data.length;i++){
          id = data[i];
          table.row('#' + parseInt(id)).remove().draw();
        }
      })

      socket.on('tag_response', function(msg){
        tags = msg;
        var container = $('<div />');
        default_tags = ["視訊", "電子", "彩票", "體育", "人物", "行動裝置","城市","錢","背景","其他"];
        for(j=0;j<default_tags.length;j++){
          tag_container = '<span class="badge badge-warning search-tag">' + default_tags[j] + '<div class="tag-close"><i class="fa fa-times" aria-hidden="true"></i></div></span>';
          container.append(tag_container);
        }
        for(i=0;i<tags.length;i++){
          tag_container ='<span class="badge badge-secondary search-tag">' + tags[i]['tag'] + '<div class="tag-close"><i class="fa fa-times" aria-hidden="true"></i></div></span>';
          container.append(tag_container);
        }
        container.addClass('custom-popover');
        $('#popover-content').html(container);
      })

      socket.on('zipped', function(msg){
        $("#uuid").attr("value", JSON.stringify(msg)); 
        $('#download_zip').submit();
      })

      socket.on('append_tags', function(msg){
        table.ajax.reload();
      })

    }

    function columnRender(columns, category_filter){
      for(i=0;i<columns.length;i++){
        delete columns[i]['render'];
        delete columns[i]['mRender'];
        delete columns[i]['mData'];
        if(columns[i]['data'] == 'thumbnail'){
          if(category_filter == 1){
            columns[i]['render'] = generic_render;
          }
          else if(category_filter == 2){
            columns[i]['render'] = generic_render;
          }
          else if(category_filter == 3){
            columns[i]['render'] = font_render;
          }
          else if(category_filter == 4){
            columns[i]['render'] = thumb_render;
          }
          else if(category_filter == 5){
            columns[i]['render'] = sound_render;
          }
          else if(category_filter == 6){
            columns[i]['render'] = sound_render;
          }
          else if(category_filter == 7){
            columns[i]['render'] = generic_render;
          }
          else if(category_filter == 8){
            columns[i]['render'] = video_render;
          }
          else if(category_filter == 0){
            columns[i]['render'] = thumb_render;
          }
        }
        if(columns[i]['data'] == 'category' || columns[i]['data'] == 'assigned'){
          columns[i]['render'] = category_render;
        }
        if(columns[i]['data'] == 'timestamp'){
          columns[i]['render'] = datetime_render;
        }
        if(columns[i]['data'] == 'tags'){
          columns[i]['render'] = tags_render;
        }        
      }
      return columns
    }

    //set nav bar pill to current location
    function initPage(){
      a = location.pathname;
      if(a ==  "/media"){
        a = "/media/images";
        window.history.pushState("", "", window.location.origin + a);
      }
      t = $('a.nav-link[href="' + a + '"]')[0];
      $(t).addClass('active');
      length = getCookie("length");
      $("#btnGroupDrop1").text(length);
    }

    function initPopover(){
      $('[data-toggle="popover"]').popover({
        html: true,
        content: function() {
          return $('#popover-content').html();
        }
      });


      $('[data-toggle="popover"]').on('shown.bs.popover', function () {
        if($('.table-search').val() == ""){
          var input = [];
        } else {
          var input = $('.table-search').val().split(" ");
        }

        all_tags =$('.popover-body').children('.custom-popover').children('.search-tag');
        for(i=0;i<input.length;i++){
            for(k=0;k<all_tags.length;k++){
              if(input[i] == $(all_tags[k]).text()){
                $(all_tags[k]).attr("show", true);
                $(all_tags[k]).children("div").css("display", "inline-block");                
              }
            }            
          }

        $('.search-tag').click(function(){
          var tags = $(this).text();
          if(input.length == 0){ //nothing in input
            $('.table-search').val(tags);
            input = tags;
            $(this).attr("show", true);
            $(this).children("div").css("display", "inline-block");
          } else {
            input = $('.table-search').val().split(" "); 
            if($(this).attr("show") == "true"){
              $(this).attr("show", false);
              $(this).children("div").css("display", "");
              i = input.indexOf(tags);
              input.splice(i, 1);              
            } else {
              $(this).attr("show", true);
              $(this).children("div").css("display", "inline-block");
              input.push(tags);
            }
            $('.table-search').val(input.join(" "));
          }
          search = $('.table-search').val();
          table.search(search).draw();
        });
      })
    }

    $('a.nav-link').click(function(e) {
      category_filter = parseInt($(this).attr("filter_value"));
      var url = $(this).attr("href");
      window.history.pushState("", "", url);
      $("#dt-toolbar").appendTo("body");
      $('input-page').appendTo("body");
      table.destroy();
      socket.destroy();

      socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);
      socket.emit('get_tags', {'category_filter':category_filter, 'namespace': namespace});
      socketConnect()

      columns = columnRender(columns, category_filter) //reset the object, functions seems to stick.
      initDT(namespace, columns, columnDefs, fields, category_filter);
      $("#dt-toolbar").appendTo(".top-toolbar");
      bpage = $('ul.pagination')[1];
      $('input-page').appendTo(bpage);
      if(category_filter == 0){
        $('.dz_container').css('display','block');
      } else {
        $('.dz_container').css('display','none');
      }
    });

  var editor;
  var table;
  var socket;
  var select;
  var category;
  var output;
  var columns;
  var fields;
  var tags;
  var category_filter;

  $(document).ready(function() {
    namespace = "{{namespace}}";
    category_filter = "{{category_filter}}";
    socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);
    columns = columnRender(columns, category_filter)
    socketConnect();
    socket.emit('get_tags', {'category_filter':category_filter, 'namespace': namespace});
    initDT(namespace, columns, columnDefs, fields, category_filter);
    table.on( 'draw', function () {
      $('img.thumbnail').hover(function(){
        preview = $(this).next().children().first();
        data = $(preview).attr('data-src');
        $(preview).attr('src', data);
      });
    });    

    $("#dt-toolbar").appendTo(".top-toolbar");

    if(category_filter == 0){
      $('.dz_container').css('display','block');
    } else {
      $('.dz_container').css('display','none');
    }

    $('.table-len').on("click", function(event){
      length = $(this).attr('value')
      table.page.len(length).draw();
      document.cookie = "length=" + length + ";";
      table.ajax.reload();
    });

    $('.table-search').on( 'keyup', function () {
      table.search( this.value ).draw();
    } );

    $( ".dt_remove" ).bind({
      click: function() {
        editor
        .title( 'Delete row' )
        .buttons( 'Confirm delete' )
        .message( 'Are you sure you want to remove this row?' )
        .remove(table.rows( { selected: true } ).indexes());
      }
    });

    $( ".dt_refresh" ).bind({
      click: function() {
        table.ajax.reload();
      }
    });

    $( ".input-page" ).bind("enterKey", function(e){
      page = parseInt($(".input-page").val()) - 1;
      table.page(page).draw('page');
    });  

    $('.input-page').keyup(function(e){
        if(e.keyCode == 13)
        {
            $(this).trigger("enterKey");
        }
    });


    $(".dt_download_selected").bind({
      click: function() {
        data = [];
        rows = table.rows('.selected').data();
        for(i=0;i<rows.length;i++){
          data.push({'id': rows[i]['id'], 'name': rows[i]['name']});
          category_filter = rows[i]['category']['label']
        }
        socket.emit('download_selected', {'data': data, 'category_filter': category_filter})
      }
    });

    function append_tags() {
      data = [];
      rows = table.rows('.selected').data();
      append_tags = $('.append_tags').val();
      for(i=0;i<rows.length;i++){
        data.push({'id': rows[i]['id'], 'tags': rows[i]['tags']});
        category_filter = rows[i]['category']['label']
      }
      socket.emit('append_tags', {'data': data, 'category_filter': category_filter, 'append_tags': append_tags})
      $('.append_tags').val("");
    }

    $(".dt_append_tags").bind({
      click: function(msg) {
        append_tags();
      }
    });    

    $(".append_tags").keyup(function(event) {
      if (event.keyCode === 13) {
        append_tags();
      }
    });





    $(".dropdown-menu a").click(function(){
      tt = $(this).parent().parent().find('.dropdown-toggle');
      $(tt).text($(this).text());
      $(tt).attr("value", $(this).attr("value"));
    });

    $("#clear-search").click(function(){
      $('input.table-search').val("");
      table.search("").draw();
    });



    function debounceSearch() {
        var $searchBox = $('.table-search');
        $searchBox.off();

        var searchDebouncedFn = debounce(function() {
            table.search($searchBox.val()).draw();
        }, 300);

        $searchBox.on("keyup", searchDebouncedFn);
    }

    /* from https://davidwalsh.name/javascript-debounce-function */
    function debounce(func, wait, immediate) {
        var timeout;
        return function() {
            var context = this, args = arguments;
            var later = function() {
                timeout = null;
                if (!immediate) func.apply(context, args);
            };
            var callNow = immediate && !timeout;
            clearTimeout(timeout);
            timeout = setTimeout(later, wait);
            if (callNow) func.apply(context, args);
        };
    };
    debounceSearch();
    initPage();
    initPopover()
    //dismiss popover by clicking outside
    $(document).on('click', function (e) {
      $('[data-toggle="popover"],[data-original-title],.i-close').each(function () {
        if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
          (($(this).popover('hide').data('bs.popover')||{}).inState||{}).click = false  // fix for BS 3.3.6
        }
      });
    });
  });

  </script>
</body>

</html>