<!-- {% from "./_formhelpers.html" import render_field %} -->

{% extends "base.html" %}
{% block title %}Projects{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/DataTables/datatables.min.css') }}"/>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/Editor-1.7.2/css/editor.bootstrap4.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/DataTables/Select-1.2.5/css/select.bootstrap4.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/DataTables/Buttons-1.5.1/css/buttons.bootstrap4.min.css') }}">
    {% block upload_css %}{% endblock %}
{% endblock %}


{% block js %}
  <script>
    var columns = JSON.parse('{{columns | tojson | safe}}');  //column string uses double quotes, so wrap it with single quotes 
    var columnDefs = JSON.parse('{{columnDefs | tojson | safe}}');
    var fields = JSON.parse('{{fields | tojson | safe}}');    
    var category_filter = "{{category_filter}}";

    for(f=0;f<fields.length;f++){
      if(fields[f]['name'] == 'category'){
        for(s=0;s<fields[f]['options'].length;s++){
          if(fields[f]['options'][s]['label'] == category_filter){
            category_filter = fields[f]['options'][s]['value'];
          }
        }
      }
    }

  </script>
  
  <script src="{{ url_for('static', filename='lib/socket.io.js') }}"></script>  
  <script type="text/javascript" src="{{ url_for('static', filename='lib/DataTables/datatables.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/DataTables/DataTables-1.10.16/js/dataTables.bootstrap4.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/DataTables/Select-1.2.5/js/dataTables.select.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/DataTables/Buttons-1.5.1/js/dataTables.buttons.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/DataTables/Buttons-1.5.1/js/buttons.bootstrap4.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/Editor-1.7.2/js/dataTables.editor.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/Editor-1.7.2/js/editor.bootstrap4.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/dt_selectize.js') }}"></script>
  {% block upload_js %}{% endblock %}
{% endblock %}


{% block body %}
<div class="row nav-spacer">
  </div>
  {% block upload_dragdrop %}{% endblock %}

  {% if category_filter != 'upload' %}
    {% include "./home/toolbar.html" %}
  {% endif %}
  <table id={{namespace}} class="compact table-striped table-bordered table-hover" cellspacing="0" width="100%">
  </table>

{% endblock %}

{% block run_scripts %}
<script>
  {% block dz_js %}{% endblock %}
  var editor;
  var table;
  var socket;
  var select;
  var category;
  var output;
  var columns;
  var fields;

  $(document).ready(function() {
    namespace = "{{namespace}}";
    socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);
    category_render =  function ( data, meta, row ) {
      return data.label;
    };
    thumb_render = function ( data, meta, row ) {
      var id = ("00000000" + row['id']).substr(-8,8);
      var url = "http://" + window.location.hostname + "/download/" + row['category']['label'] + "/" + id + "/" + row['name'];
      return '<a href="' + url +'" download><img class="thumbs" src="'+data+'"/></a>';
    };
    sound_render = function (data, meta, row){
      var id = ("00000000" + row['id']).substr(-8,8);
      var url = "http://" + window.location.hostname + "/download/" + row['category']['label'] + "/" + id + "/" + row['name'];      
      return "<audio controls><source src=" + url + "></audio>";
    };
    video_render = function (data, meta, row) {
      var id = ("00000000" + row['id']).substr(-8,8);
      var url = "http://" + window.location.hostname + "/download/" + row['category']['label'] + "/" + id + "/" + row['name'] + "#t=10";      
      return "<video preload='metadata' src=" + url + " controls></video>"
    };
    font_render = function (data, meta, row) {
      var id = ("00000000" + row['id']).substr(-8,8);
      var url = "http://" + window.location.hostname + "/download/" + row['category']['label'] + "/" + id + "/" + row['name'] + "#t=10";      
      return "<div style='font-family: test_1234'>The quick brown fox</div>"
    };   


    //column with render or mrender
    for(i=0;i<columns.length;i++){
      if(columns[i]['render'] == 'category_render'){
        columns[i]['render'] = category_render;
      }
      else if(columns[i]['render'] == 'thumb_render'){
        columns[i]['render'] = thumb_render;
      }
      else if(columns[i]['render'] == 'sound_render'){
        columns[i]['render'] = sound_render;
      }
      else if(columns[i]['render'] == 'video_render'){
        columns[i]['render'] = video_render;
      }      
      else if(columns[i]['render'] == 'font_render'){
        columns[i]['render'] = font_render;
      }       
    };    

    table = $('#' + namespace).DataTable( {
        "dom": "<'row'<'col-sm-8 top-toolbar'><'col-sm-4'p>>" + "<'row'<'col-sm-12'tr>>" + "<'row'<'col-sm-4'i><'col-sm-8'p>>",
        "pageLength": 10,
        "processing": true,
        "serverSide": true,
        "deferRender": true,
        "ajax": function (data, callback, settings) {
                  socket.emit('ajax_socket', {'namespace': namespace, 'settings':data, 'columns': columns, 'fields': fields, 'columnDefs': columnDefs, 'category_filter': category_filter});
                  socket.on('init_response', function(response){
                    output = JSON.parse(response);    
                    if(category_filter == 1){
                      console.log(output['data'][0]['name']);

                    }
                    callback(output);                      
                  })
                },
        "rowId": 'id',
        "columns": columns,        
        "columnDefs": columnDefs,      
        "order": [[ 1, "desc" ]],        
        "select": {
            "style": 'os',
            "selector": 'td:first-child'
        }
    });      

    editor = new $.fn.dataTable.Editor( {
        data: output,
        ajax: function ( method, url, d, successCallback, errorCallback ) {
          var output = { data: [] };
          for(var k in d.data); //get the id

          if ( d.action === 'create' ) {
            socket.emit('create', {'namespace': namespace, 'data': d.data[k], 'multiple': 'false'});
          }
          else if ( d.action === 'edit' ) {
            socket.emit('update', {'namespace': namespace, 'id': k, 'data':d.data[k]});
          }
          else if ( d.action === 'remove' ) {
            var k = [];
            $.each( d.data, function (id) {
              k.push(id);
            } );
            socket.emit('remove', {'namespace': namespace, 'ids': k});
          }
          successCallback(output);
        },
        table: '#' + namespace,
        idSrc:  'id',
        fields: fields
    } );   

    $('#' + namespace).on( 'click', 'tbody td:not(:first-child)', function (e) {
      var category = $(this).text();

      editor.inline( this, {
        drawType: 'page',
        onBlur: 'submit',
        onReturn: 'submit',
        submit: 'changed'
      } );

      $("div.DTE_Field_InputControl select option:contains('" + category + "')").attr("selected", "selected");
      $("div.DTE_Field_InputControl select option:contains('" + category + "')").prop("selected", "selected");
    } ); 

    // upload using request AFTER db inserts data
    socket.on('add_response', function(msg) {
      data = JSON.parse(msg["data"]);
      category = data['category']['label'];
      file_id = data['id'];
      file_name = data['name'];

      myDropzone.options.url = "../upload?category=" + category + "&file_id=" + file_id;

      for(i=0;i<myDropzone.files.length;i++){
        if(myDropzone.files[i].name == file_name){
          myDropzone.processFile(myDropzone.files[i]);      
          table.row.add(data).draw();
        }
      }
    })

    socket.on('update_response', function(msg) {
      d = JSON.parse(msg.data);
      table.row.add(d).draw('page');
    })

    socket.on('delete_response', function(msg) {
      data = JSON.parse(msg['ids']);
      for(i=0;i<data.length;i++){
        id = data[i];
        table.row('#' + parseInt(id)).remove().draw();
      }
    })

    $('.table-len').on("click", function(event){
      var length = $(this).attr('value')
      table.page.len(length).draw();
    });

    $('.table-search').on( 'keyup', function () {
      table.search( this.value ).draw();
    } );  

    $( ".dt_add" ).bind({
      click: function() {
        if(namespace == 'media'){
          if($("#media_drop").css("display") == "block"){
            $('#media_drop').css("display", "none");
            $('#dz-toolbar').css("display", "none");
            $('#dt-toolbar').css("display", "block");
            $('#media_wrapper').css("display", "block");

          } else if($("#media_drop").css("display") == "none"){ //open dropzone and dz toolbar
            $('#media_drop').css("display", "block");
            $('#dz-toolbar').css("display", "block");
            $('#dt-toolbar').css("display", "none");
            $('#media_wrapper').css("display", "none");
          }
        } else if(namespace == 'category'){
          editor.create({
            buttons: 'Create'
          });
        }
      }
    });
    $( ".dt_remove" ).bind({
      click: function() {
        editor
        .title( 'Delete row' )
        .buttons( 'Confirm delete' )
        .message( 'Are you sure you want to remove this row?' )
        .remove(table.rows( { selected: true } ).indexes());
      }
    });

    $( ".dt_edit" ).bind({
      click: function() {
        editor
        .title( 'Update Entry')
        .buttons( 'Update' )
        .edit(table.rows( { selected: true } ).indexes());
      }
    });

    $(".dropdown-menu a").click(function(){
      tt = $(this).parent().parent().find('.dropdown-toggle');
      $(tt).text($(this).text());
      $(tt).attr("value", $(this).attr("value"));
    });

    $("#dt-toolbar").appendTo(".top-toolbar");

  });    

</script>
{% endblock %}

