{% from "./_formhelpers.html" import render_field %}

{% extends "base.html" %}
{% block title %}statuss{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="static/lib/DataTables/datatables.css"/>
    <link rel="stylesheet" type="text/css" href="static/lib/DataTables/DataTables-1.10.16/css/dataTables.bootstrap4.css"/>
    <link rel="stylesheet" type="text/css" href="static/lib/Editor-1.6.5/css/editor.dataTables.css">
{% endblock %}

{% block js %}
  <script src="../static/lib/socket.io.js" type="text/javascript"></script>    
  <script type="text/javascript" src="static/lib/DataTables/datatables.js"></script>
  <script type="text/javascript" src="static/lib/DataTables/DataTables-1.10.16/js/dataTables.bootstrap4.js"></script>
  <script type="text/javascript" src="static/lib/DataTables/Select-1.2.3/js/dataTables.select.min.js"></script>
  <script type="text/javascript" src="static/lib/Editor-1.7.0/js/dataTables.editor.js"></script>
{% endblock %}

{% block body %}
{% include "./home/toolbars.html" %}
<table id="status" class="compact table-striped table-bordered table-hover" cellspacing="0" width="100%">
  
</table>
{% endblock %}

{% block run_scripts %}
<script>
  var editor;
  var table;
  var data;
  var socket;
  var temp;
  $(document).ready(function() {
    namespace = 'status';
    field_list = [{'name': 'name', 'type': 'text'}];
    {% include "./home/datatables_init.js" %}

  });

</script>
{% endblock %}


