<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ title }} | MCD Database</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='lib/bootstrap-4.0.0-beta.3/dist/css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='lib/font-awesome-4.7.0/css/font-awesome.min.css') }}">
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='img/favicon.ico') }}" rel="shortcut icon" >
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/DataTables/datatables.min.css') }}"/>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/Editor-1.7.2/css/editor.bootstrap4.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/DataTables/Select-1.2.5/css/select.bootstrap4.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/DataTables/Buttons-1.5.1/css/buttons.bootstrap4.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/dropzone/dropzone.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/selectize/css/selectize-bootstrap4.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/selectize/css/selectize.css') }}">

  <script src="https://code.jquery.com/jquery-1.12.4.js" type="text/javascript"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  <script>
    var columns = JSON.parse('{{columns | tojson | safe}}');  //column string uses double quotes, so wrap it with single quotes
    var columnDefs = JSON.parse('{{columnDefs | tojson | safe}}');
    var fields = JSON.parse('{{fields | tojson | safe}}');
  </script>
  <script src="{{ url_for('static', filename='lib/socket.io.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/DataTables/datatables.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/DataTables/DataTables-1.10.16/js/dataTables.bootstrap4.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/DataTables/Select-1.2.5/js/dataTables.select.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/DataTables/Buttons-1.5.1/js/dataTables.buttons.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/DataTables/Buttons-1.5.1/js/buttons.bootstrap4.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/Editor-1.7.2/js/dataTables.editor.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/Editor-1.7.2/js/editor.bootstrap4.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/dt_selectize.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/moment.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/socket.io.js') }}"></script>

</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
    <a href="{{ url_for('home.media',category_filter='addons') }}" class="navbar-brand">MCD DB</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mcd_db_navbar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>    
    <div class="collapse navbar-collapse row" id="mcd_db_navbar">
      <ul class="nav nav-pills navbar-nav">
        {% if current_user.is_authenticated %}
        <li class="nav-item active" namespace="project"><a class="nav-link" filter_value="1" href="{{ url_for('home.media',category_filter='addons') }}">Addons</a></li>
        <li class="nav-item active"><a class="nav-link" filter_value="2" href="{{ url_for('home.media',category_filter='effects') }}">Effects</a></li>
        <li class="nav-item active"><a class="nav-link" filter_value="3" href="{{ url_for('home.media',category_filter='fonts') }}">Fonts</a></li>
        <li class="nav-item active"><a class="nav-link" filter_value="4" href="{{ url_for('home.media',category_filter='images') }}">Images</a></li>
        <li class="nav-item active"><a class="nav-link" filter_value="5" href="{{ url_for('home.media',category_filter='music') }}">Music</a></li>
        <li class="nav-item active"><a class="nav-link" filter_value="6" href="{{ url_for('home.media',category_filter='sfx') }}">SFX</a></li>
        <li class="nav-item active"><a class="nav-link" filter_value="7" href="{{ url_for('home.media',category_filter='software') }}">Software</a></li>
        <li class="nav-item active"><a class="nav-link" filter_value="8" href="{{ url_for('home.media',category_filter='videos') }}">Videos</a></li>
        <li class="nav-item active"><a class="nav-link" filter_value="0" href="{{ url_for('home.media',category_filter='upload') }}"><i class="fa fa-upload"></i> Upload</a></li>
      </ul>
      <ul class="nav nav-pills navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Other</a>
          <div class="dropdown-menu" aria-labelledby="dropdown01">
            <a class="dropdown-item" href="{{ url_for('home.category') }}">Category</a>
            <a class="dropdown-item" href="{{ url_for('home.logs') }}">Logs</a>
            <a class="dropdown-item" href="{{ url_for('home.user') }}">User</a>
          </div>
        </li>
        <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.logout') }}">Logout</a></li>
        <li class="nav-item"><a class="nav-link"> <i class="fa fa-user" aria-hidden="true" style="color: #992222" user-id="{{current_user.id}}"></i>    {{ current_user.name }}!</a></li>
        {% else %}
        <li class="nav-item"><a class="nav-link" href="{{ url_for('home.homepage') }}">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.register') }}">Register</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.login') }}">Login</a></li>
        {% endif %}
      </ul>
    </div>
  </nav>

  <div class="row nav-spacer"></div>


  {% include "./home/toolbar.html" %}
<!--       <button class="btn dt_add" ><i class="fa fa-plus-circle"></i></button>
      <button class="btn dt_remove" ><i class="fa fa-minus-circle"></i></button>
      <button class="btn dt_edit" ><i class="fa fa-pencil"></i></button> -->
      <!-- <button class="btn dt_refresh" ><i class="fa fa-refresh"></i></button> -->

  <table id={{namespace}} class="compact table-striped table-bordered table-hover" cellspacing="0" width="100%">
  </table>

  <footer class="container">
  </footer>
  <script>
    function columnRender(columns, category_filter){
      for(i=0;i<columns.length;i++){
        delete columns[i]['render'];
        delete columns[i]['mRender'];
        delete columns[i]['mData'];
        if(columns[i]['data'] == 'thumbnail'){
          if(category_filter == 1){
            columns[i]['render'] = generic_render;
          }
          else if(category_filter == 2){
            columns[i]['render'] = generic_render;
          }
          else if(category_filter == 3){
            columns[i]['render'] = font_render;
          }
          else if(category_filter == 4){
            columns[i]['render'] = thumb_render;
          }
          else if(category_filter == 5){
            columns[i]['render'] = sound_render;
          }
          else if(category_filter == 6){
            columns[i]['render'] = sound_render;
          }
          else if(category_filter == 7){
            columns[i]['render'] = generic_render;
          }
          else if(category_filter == 8){
            columns[i]['render'] = video_render;
          }
          else if(category_filter == 0){
            columns[i]['render'] = thumb_render;
          }
        }
        if(columns[i]['data'] == 'category' || columns[i]['data'] == 'assigned'){
          columns[i]['render'] = category_render;
        }
        if(columns[i]['data'] == 'timestamp'){
          columns[i]['render'] = datetime_render;
        }
        if(columns[i]['data'] == 'tags'){
          columns[i]['render'] = tags_render;
        }        
      }
      return columns
    }

    datetime_render = function (data, meta, row) {
      m = moment.utc(data);
      return "<div>" + m.utc().format("MM/DD/YY HH:mm:ss") + "</div>"
    }

    category_render =  function ( data, meta, row ) {
      return data.label;
    };

    tags_render = function (data, meta, row) {
      var container = $('<div />');
      tags = data.split(",")
      for(i=0;i<tags.length;i++){
        container.append('<span class="badge badge-secondary search-tag sm-badge">' + tags[i] + '</span>');
      }      
      return "<div class=>" + container.html() + "</div>"
    };
    
    function initDT(namespace, columns, columnDefs, fields, category_filter){

    }

    function socketConnect(){
/*      socket.on('add_response', function(msg) {
        data = JSON.parse(msg["data"]);
        category = data['category']['label'];
        file_id = data['id'];
        file_name = data['name'];
        table.row.add(data).draw();
        for(i=0;i<myDropzone.files.length;i++){
          if(myDropzone.files[i].name == file_name){
            myDropzone.processFile(myDropzone.files[i]);
            table.row.add(data).draw();
          }
        }
      })*/

      socket.on('update_response', function(msg) {
        d = JSON.parse(msg.data);
        table.row.add(d).draw('page');
      })

      socket.on('delete_response', function(msg) {
        data = JSON.parse(msg['ids']);
        for(i=0;i<data.length;i++){
          id = data[i];
          table.row('#' + parseInt(id)).remove().draw();
        }
      })
    }

  var editor;
  var table;
  var socket;
  var select;
  var category;
  var output;
  var columns;
  var fields;
  var tags;
  var category_filter = 0;

  $(document).ready(function() {
    namespace = "{{namespace}}";
    socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);
    socketConnect();
    columns = columnRender(columns, category_filter) //reset the object, functions seems to stick.
    table = $('#' + namespace).DataTable( {
        "dom": "<'row'<'col-sm-8 top-toolbar'><'col-sm-4'p>>" + "<'row'<'col-sm-12'tr>>" + "<'row'<'col-sm-4'i><'col-sm-8'p>>",
        "pageLength": 100,
        "processing": true,
        "serverSide": true,
        "deferRender": true,
        "ajax": {
          "url": "/ajax",
          "data": {
            "namespace": namespace
            }
          },
        "columns": columns,
        "columnDefs": columnDefs,
        "order": [[ 1, "desc" ]],
        "select": {
            "style": 'os',
            "selector": 'td:first-child'
        }
    });
    editor = new $.fn.dataTable.Editor( {
        data: output,
        ajax: function ( method, url, d, successCallback, errorCallback ) {
          var output = { data: [] };
          for(var k in d.data); //get the id

          if ( d.action === 'create' ) {
            socket.emit('create', {'namespace': namespace, 'data': d.data[k], 'multiple': 'false'});
          }
          else if ( d.action === 'edit' ) {
            console.log({'namespace': namespace, 'id': k, 'data':d.data[k]});
            //socket.emit('update', {'namespace': namespace, 'id': k, 'data':d.data[k]});
          }
          else if ( d.action === 'remove' ) {
            var k = [];
            $.each( d.data, function (id) {
              k.push(id);
            } );
            socket.emit('remove', {'namespace': namespace, 'ids': k});
          }
          successCallback(output);
        },
        table: '#' + namespace,
        idSrc:  'id',
        fields: fields
    } );
    $('#' + namespace).on( 'click', 'tbody td:not(:first-child)', function (e) {
      var category = $(this).text();

      editor.inline( this, {
        drawType: 'page',
        onBlur: 'submit',
        onReturn: 'submit',
        submit: 'changed'
      } );

      $("div.DTE_Field_InputControl select option:contains('" + category + "')").attr("selected", "selected");
      $("div.DTE_Field_InputControl select option:contains('" + category + "')").prop("selected", "selected");
    } );    


    $( ".dt_add" ).bind({
      click: function() {
        if(namespace == 'media'){
          if($("#media_drop").css("display") == "block"){
            $('#media_drop').css("display", "none");
            $('#dz-toolbar').css("display", "none");
            $('#dt-toolbar').css("display", "block");
            $('#media_wrapper').css("display", "block");

          } else if($("#media_drop").css("display") == "none"){ //open dropzone and dz toolbar
            $('#media_drop').css("display", "block");
            $('#dz-toolbar').css("display", "block");
            $('#dt-toolbar').css("display", "none");
            $('#media_wrapper').css("display", "none");
          }
        } else if(namespace == 'category'){
          editor.create({
            buttons: 'Create'
          });
        }
      }
    });
    $( ".dt_remove" ).bind({
      click: function() {
        editor
        .title( 'Delete row' )
        .buttons( 'Confirm delete' )
        .message( 'Are you sure you want to remove this row?' )
        .remove(table.rows( { selected: true } ).indexes());
      }
    });

    $( ".dt_edit" ).bind({
      click: function() {
        editor
        .title( 'Update Entry')
        .buttons( 'Update' )
        .edit(table.rows( { selected: true } ).indexes());
      }
    });

    $("#dt-toolbar").appendTo(".top-toolbar");
    if(category_filter == 0){
      $('.dz_container').css('display','block');
    } else {
      $('.dz_container').css('display','none');
    }

    $('.table-len').on("click", function(event){
      length = $(this).attr('value')
      table.page.len(length).draw();
      table.ajax.reload();
    });

 
  });



  </script>
</body>

</html>