{% from "./_formhelpers.html" import render_field %}

{% extends "base.html" %}
{% block title %}Projects{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="static/lib/DataTables/datatables.min.css"/>
    <!-- <link rel="stylesheet" type="text/css" href="static/lib/DataTables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css"/> -->
    <!-- <link rel="stylesheet" type="text/css" href="static/lib/Editor-1.7.2/css/editor.dataTables.min.css"> -->
    <link rel="stylesheet" type="text/css" href="static/lib/Editor-1.7.2/css/editor.bootstrap4.min.css">
    <!-- <link rel="stylesheet" type="text/css" href="static/lib/DataTables/Select-1.2.5/css/select/select.dataTables.min.css"> -->
    <link rel="stylesheet" type="text/css" href="static/lib/DataTables/Select-1.2.5/css/select.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="static/lib/DataTables/Buttons-1.5.1/css/buttons.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="static/lib/dropzone/dropzone.css">
    <link rel="stylesheet" type="text/css" href="static/lib/selectize/css/selectize-bootstrap4.css">
    <!-- <link rel="stylesheet" type="text/css" href="static/lib/selectize/css/selectize.css"> -->
{% endblock %}

{% block js %}
  <script src="../static/lib/socket.io.js" type="text/javascript"></script>
  <script src="./static/lib/dropzone/dropzone.js"></script>
  <script src="./static/lib/selectize/js/standalone/selectize.js"></script>
  <script src="./static/lib/selectize/js/index.js"></script>
  <script>
    Dropzone.autoDiscover = false;
  </script>
  <script type="text/javascript" src="static/lib/DataTables/datatables.min.js"></script>
  <script type="text/javascript" src="static/lib/DataTables/DataTables-1.10.16/js/dataTables.bootstrap4.min.js"></script>
  <script type="text/javascript" src="static/lib/DataTables/Select-1.2.5/js/dataTables.select.min.js"></script>
  <!-- <script type="text/javascript" src="static/lib/DataTables/Buttons-1.5.1/js/dataTables.buttons.min.js"></script> -->
  <script type="text/javascript" src="static/lib/DataTables/Buttons-1.5.1/js/buttons.bootstrap4.min.js"></script>
  <script type="text/javascript" src="static/lib/Editor-1.7.2/js/dataTables.editor.min.js"></script>
  <script type="text/javascript" src="static/lib/Editor-1.7.2/js/editor.bootstrap4.min.js"></script>

{% endblock %}

{% block body %}
{% include "./home/toolbar.html" %}
{% include "./home/dragdrop.html" %}
<table id={{namespace}} class="compact table-striped table-bordered table-hover" cellspacing="0" width="100%">

</table>

{% endblock %}

{% block run_scripts %}
<script>
  var thumbs =[];
  var myDropzone = new Dropzone("#media_drop", {
    url: "{{ url_for('home.upload')}}",
    maxFilesize: 10000, //10GB
    autoProcessQueue: false,
    thumbnailWidth: 120
  });

  function dz_clear(){
    var acceptedFiles = myDropzone.getAcceptedFiles();
    for(i=0; i < acceptedFiles.length; i++){
      myDropzone.removeFile(acceptedFiles[i]);
    };      
  }

  myDropzone.on("addedfile", function(file) {
    ext = file.name.split(".");
  });

  myDropzone.on("thumbnail", function(file, dataUri) {
    t = [file, dataUri];
    thumbs.push(t);
  });

/*  myDropzone.on("queuecomplete", function(file) {
    myDropzone.options.autoProcessQueue = false;     
    dz_clear(); 
  });*/

  var editor;
  var table;
  var socket;
  var temp;
  var hide;
  var select;
  var category;
  var optx;

  $(document).ready(function() {
    //namespace = JSON.parse("{{namespace}}");
    namespace = "{{namespace}}";

    {% include "./home/datatables_init.js" %}
    $( ".dt_add" ).bind({
      click: function() {
        if(namespace == 'media'){
          if($("#media_drop").css("display") == "block"){
            $('#media_drop').css("display", "none");
            $('#dz-toolbar').css("display", "none");
            $('#dt-toolbar').css("display", "block");
            $('#media_wrapper').css("display", "block");

          } else if($("#media_drop").css("display") == "none"){ //open dropzone and dz toolbar
            $('#media_drop').css("display", "block");
            $('#dz-toolbar').css("display", "block");
            $('#dt-toolbar').css("display", "none");
            $('#media_wrapper').css("display", "none");
          }
        } else if(namespace == 'category'){
          editor.create({
            buttons: 'Create'
          });
        }
      }
    });
    $( ".dt_remove" ).bind({
      click: function() {
        editor
        .title( 'Delete row' )
        .buttons( 'Confirm delete' )
        .message( 'Are you sure you want to remove this row?' )
        .remove(table.rows( { selected: true } ).indexes());
      }
    });

    $( ".dt_edit" ).bind({
      click: function() {
        editor
        .title( 'Update Entry')
        .buttons( 'Update' )
        .edit(table.rows( { selected: true } ).indexes());
      }
    });

    $( ".dz_close" ).bind({
      click: function() {
        if($("#media_drop").css("display") == "block"){
          $('#media_drop').css("display", "none");
          $('#dz-toolbar').css("display", "none");
          $('#dt-toolbar').css("display", "flex");
          $('#media_wrapper').css("display", "block");

        } else if($("#media_drop").css("display") == "none"){ //open dropzone and dz toolbar
          $('#media_drop').css("display", "block");
          $('#dz-toolbar').css("display", "block");
          $('#dt-toolbar').css("display", "none");
          $('#media_wrapper').css("display", "none");
        }
      }
    });

    $( ".dz_add" ).bind({
      click: function() {
        //myDropzone.options.autoProcessQueue = true;
        //myDropzone.processQueue();
        category = parseInt($('#select_category').val());
        user_id = parseInt($('i.fa-user').attr('user-id'));

        tags = selectize.items.join(",");
        acceptedFiles = myDropzone.getAcceptedFiles();

        itemlist = [];
        for(i=0;i<acceptedFiles.length;i++){
          name = acceptedFiles[i]['name'];
          for(j=0;j<thumbs.length;j++){
            if(thumbs[j][0].name == name){
              thumb = thumbs[j][1];
            }
          }
          data = {"name": name, "category": category, "tags": tags, "assigned": user_id, "thumbnail": thumb};
          itemlist.push(data);
        
        }
        socket.emit('create', {'namespace': 'media', 'data': itemlist, 'multiple': 'true'} );
      }
    });


    $( ".dz_clear" ).bind({
      click: function() {
        dz_clear();
      }
    });

/*    $(".nav-item").removeClass("active");
    $(".nav-item[namespace='" + namespace + "']").addClass("active");
    if(namespace == "status" || namespace == "task" || namespace == "pipeline" || namespace == "process"){
      $(".nav-item.dropdown").addClass("active");
    }*/

    $(".dropdown-menu a").click(function(){
      tt = $(this).parent().parent().find('.dropdown-toggle');
      $(tt).text($(this).text());
      $(tt).attr("value", $(this).attr("value"));
    });

    $select = $('#input-tags').selectize({
      persist: false,
      createOnBlur: true,
      create: true
    });

    selectize = $select[0].selectize;
  });

</script>
{% endblock %}


