<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="static/lib/DataTables/datatables.min.css"/>
  <script src="https://code.jquery.com/jquery-1.12.4.js" type="text/javascript"></script>    
  <script src="../static/lib/socket.io.js" type="text/javascript"></script>
  <script type="text/javascript" src="static/lib/DataTables/datatables.min.js"></script>

</head>


<body>

<table id="media" class="compact table-striped table-bordered table-hover" cellspacing="0" width="100%">
</table>

<script>
  var output;
  $(document).ready(function() {
    socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);
    render =  function ( data, meta, row ) {return data.label;};
    thumb_render = function ( data, meta, row ) {return '<img class="thumbs" src="'+data+'"/>';};
    /*socket.emit('ajax_socket', {'namespace':''});*/
    socket.on('init_response', function(msg) {
      console.log('responded');
      output = JSON.parse(msg);
    });    


    //data = JSON.parse("{{data}}");

    columns = JSON.parse("{{columns}}");    
    columnDefs = JSON.parse("{{columnDefs}}");
    for(i=0;i<columns.length;i++){
      if(columns[i]['render'] == 'render'){
        columns[i]['render'] = render;
      };
      if(columns[i]['render'] == 'thumb_render'){
        columns[i]['render'] = thumb_render;
      };
    };    
    table = $('#media').DataTable( {
        "dom": 't<"bottom"irp><"clear">',
        "pageLength": 100,
        "processing": true,
        "serverSide": true,
/*        "ajax": function (data, callback, settings) {
                  socket.emit('ajax_socket', {'namespace':settings});
                  socket.on('init_response', function(data){
                    output = JSON.parse(data);
                    callback(output);  
                  })
                },*/
        "ajax": function (data, callback, settings) {
                  socket.emit('ajax_socket', {'namespace':settings}, function(data){
                    callback(output);
                  });
                },                
        "rowId": 'id',
        "columns": columns,        
        "columnDefs": columnDefs,      
        "order": [[ 1, "desc" ]],        
        "select": {
            "style": 'os',
            "selector": 'td:first-child'
        }
    });      
/*        $('#test').DataTable( {
          "processing": true,
          "serverSide": true,
          "ajax": "ajax"
      } );*/
  });

</script>

</body>
</html>