<div class="btn-toolbar container-fluid" id="dt-toolbar">
  <div class="btn-group mr-2">
    <input type="text" class="append_tags" placeholder="追加 Tags" aria-label="Append"> </input>
    <button class="btn dt_append_tags" ><i class="fa fa-plus-circle"></i></button>
    <button class="btn dt_remove" ><i class="fa fa-trash-o"></i> Delete</button>
    <button class="btn dt_download_selected"><i class="fa fa-download"></i> Download</a></button>
      {% if namespace == "category" or namespace == "logs" or namespace == "user" %}
    <button class="btn dt_add" ><i class="fa fa-plus-circle"></i></button>
      {% endif %}
    <form id="download_zip" action="/download_zip" method="POST"><input type="hidden" id="uuid" name="uid" val=""></form>
  </div>

  <div class="input-group">
    <div class="input-group-text"><i class="fa fa-search" aria-hidden="true"></i></div>
    <div data-toggle="popover" data-placement="bottom" data-toggle="popover" title="Search Tags">
      <input type="text" class="table-search" placeholder="Search" aria-label="Search"> </input>
    </div>
    <div class="input-group-text" id="clear-search"><i class="fa fa-times" aria-hidden="true"></i></div>
  </div>

  <div class="btn-group" role="group">
    <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle page-len" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Show: 10</button>
    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
      <a class="dropdown-item table-len" href="javascript:void(0);" value="10">10</a>
      <a class="dropdown-item table-len" href="javascript:void(0);" value="50">50</a>
      <a class="dropdown-item table-len" href="javascript:void(0);" value="100">100</a>
    </div>
  </div>
  <div id="popover-content" style="display: none">
    <div class="custom-popover">
      {% for tag in tags %}
      <span class="badge badge-primary search-tag">{{tag[0]}}</span>
      {% endfor %}
    </div>
  </div>
</div>
