{% extends "./home/media.html" %}

{% block upload_css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/dropzone/dropzone.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/selectize/css/selectize-bootstrap4.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/selectize/css/selectize.css') }}">
{% endblock %}

{% block upload_js %}
  <script src="{{ url_for('static', filename='lib/socket.io.js') }}"></script>
  <script src="{{ url_for('static', filename='lib/dropzone/dropzone.js') }}"></script>
  <script src="{{ url_for('static', filename='lib/selectize/js/standalone/selectize.js') }}"></script>
  <script>
    Dropzone.autoDiscover = false;
  </script>

{% endblock %}

{% block dz_js %}
  var thumbs =[];
  var myDropzone = new Dropzone("#media_drop", {
    url: "{{ url_for('home.upload')}}",
    maxFilesize: 10000, //10GB
    autoProcessQueue: false,
    thumbnailWidth: 120
  });

  function dz_clear(){
    var acceptedFiles = myDropzone.getAcceptedFiles();
    for(i=0; i < acceptedFiles.length; i++){
      myDropzone.removeFile(acceptedFiles[i]);
    };      
  }

  myDropzone.on("addedfile", function(file) {
    image_ext = ["jpg", "jpeg", "bmp", "tif", "tiff", "tga", "png", "psd", "gif", "svg", "ai", "eps"];
    video_ext = ["mp4", "avi", "wmv", "mov", "qt", "mkv", "ts", "webm", "flv", "rmvb"];
    audio_ext = ["mp3", "wmv", "pcm", "aiff", "aac", "ogg", "wma", "flac", "alac"];
    font_ext = ["ttf", "otf", "eot", "woff", "svg", "woff2"];
    file_ext = ["exe", "zip", "rar"];
    code_ext = ["js", "jsx", "py", "cpp", "html", "css", "jsx", "xml", "json", "csv", "bat", "sh"]


    ext = file.name.split('.').pop()
    if(image_ext.indexOf(ext) > -1){
      $("#select_category").text("images");
      $("#select_category").attr("value", 3);
    } else if(audio_ext.indexOf(ext) > -1){
      $("#select_category").text("sfx");
      $("#select_category").attr("value", 7);
    } else if(video_ext.indexOf(ext) > -1){
      $("#select_category").text("videos");
      $("#select_category").attr("value", 15);
    } else if(file_ext.indexOf(ext) > -1){
      $("#select_category").text("software");
      $("#select_category").attr("value", 2);
    } else if(font_ext.indexOf(ext) > -1){
      $("#select_category").text("fonts");
      $("#select_category").attr("value", 1);
    } else {
      $("#select_category").text("software");
      $("#select_category").attr("value", 2);      
    }
  });

  myDropzone.on("thumbnail", function(file, dataUri) {
    t = [file, dataUri];
    thumbs.push(t);
  });

    $( ".dz_add" ).bind({
      click: function() {
        category = parseInt($('#select_category').val());
        user_id = parseInt($('i.fa-user').attr('user-id'));

        tags = selectize.items.join(",");
        acceptedFiles = myDropzone.getAcceptedFiles();

        itemlist = [];
        for(i=0;i<acceptedFiles.length;i++){
          name = acceptedFiles[i]['name'];
          ext = name.split('.').pop()

          for(j=0;j<thumbs.length;j++){
            if(thumbs[j][0].name == name){
              thumb = thumbs[j][1];
              data = {"name": name, "category": category, "tags": tags, "assigned": user_id, "thumbnail": thumb};
              itemlist.push(data);
            } else {
            }
          }
        }
        socket.emit('create', {'namespace': 'media', 'data': itemlist, 'multiple': 'true'} );
      }
    });


    $( ".dz_clear" ).bind({
      click: function() {
        dz_clear();
      }
    });  

  $select = $('#input-tags').selectize({
    persist: false,
    createOnBlur: true,
    create: true
  });

  selectize = $select[0].selectize;  
{% endblock %}